## Create a set

In [1]:
my_set = {"apple", "banana", "cherry"}    # just element seperate by comma
print(my_set)

{'banana', 'apple', 'cherry'}

In [3]:
my_set = {1,2,1,3,1,2,4,5}   # not allowed to duplicate
print(my_set)

{1, 2, 3, 4, 5}

In [12]:
myset = set('Hello')   # order will be arbitary. There will be one 'L'
print(myset)
print(type(myset))

{'o', 'H', 'l', 'e'}
<class 'set'>

In [11]:
myset = {}    # empty set recognised as dict
print(type(myset))

<class 'dict'>

In [13]:
myset = set()    # set method is used to define empty set
print(type(myset))

<class 'set'>

In [4]:
# or use the set function and create from an iterable, e.g. list, tuple, string

my_set_2 = set(["one", "two", "three"])
my_set_2 = set(("one", "two", "three"))
print(my_set_2)

{'three', 'one', 'two'}

In [15]:
my_set_3 = set("aaabbbcccdddeeeeeffff")
print(my_set_3)

{'c', 'd', 'a', 'e', 'b', 'f'}

## Add elements

In [18]:
my_set = set()

# use the add() method to add elements
my_set.add(42)
my_set.add(True)
my_set.add("Hello")

print(my_set)

{True, 42, 'Hello'}

In [19]:


my_set.add(42)    # no changes as 42 already exsist. order may change    
print(my_set)

{True, 42, 'Hello'}

In [20]:
my_set.add(52)    # 52 will be added to set
print(my_set)

{True, 42, 'Hello', 52}

## Remove elements

In [21]:
# remove(x): removes x, raises a KeyError if element is not present
my_set = {"apple", "banana", "cherry"}
my_set.remove("apple")
print(my_set)

{'banana', 'cherry'}

In [22]:
my_set = {"apple", "banana", "cherry"}
my_set.remove()    # one argument is necessary
print(my_set)

TypeError: set.remove() takes exactly one argument (0 given)

In [24]:
my_set.discard("cherry")    # discard cherry from set
my_set.discard("blueberry")    # no changes as argument not prent in set
print(my_set)

{'banana', 'apple'}

In [26]:
my_set.clear()    # remove all elements
print(my_set)

set()

In [27]:
# pop()

a = {True, 2, False, "hi", "hello"}
print(a.pop())    # return and remove a random element
print(a)     # remove 'false' after popping

False
{True, 2, 'hello', 'hi'}

## Check if element is in Set

In [28]:
my_set = {"apple", "banana", "cherry"}
if "apple" in my_set:
    print("yes")

yes

In [30]:
my_set = {"apple", "banana", "cherry"}
if "dog" in my_set:
    print("yes")
else:
    print("no")

no

## Iterating

In [31]:
# using a for in loop

my_set = {"apple", "banana", "cherry"}
for i in my_set:     # order may change
    print(i)

banana
apple
cherry

## Union and Intersection

In [33]:
odds = {1, 3, 5, 7, 9}
evens = {0, 2, 4, 6, 8}
primes = {2, 3, 5, 7}

u = odds.union(evens)    # combine elements from both sets, no duplication
print(u)
print(odds)
print(evens)

# note that this does not change the two sets

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}
{1, 3, 5, 7, 9}
{0, 2, 4, 6, 8}

In [34]:
# intersection(): take elements that are in both sets
i = odds.intersection(evens)
print(i)

set()

In [36]:
i = odds.intersection(primes)
print(i)

{3, 5, 7}

In [35]:
i = evens.intersection(primes)
print(i)

{2}

## Difference of sets

In [37]:
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}

diff_set = setA.difference(setB)    # returns a set with all the elements from the setA that are not in setB.
print(diff_set)

{4, 5, 6, 7, 8, 9}

In [38]:
# A.difference(B) is not the same as B.difference(A)

diff_set = setB.difference(setA)
print(diff_set)

{10, 11, 12}

In [40]:
# symmetric_difference()

diff_set = setA.symmetric_difference(setB)   # returns a set with all the elements that are in setA and setB but not in both
print(diff_set)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

In [41]:
diff_set = setB.symmetric_difference(setA)    # A.symmetric_difference(B) = B.symmetric_difference(A)
print(diff_set)

{4, 5, 6, 7, 8, 9, 10, 11, 12}

## Updating sets

In [ ]:
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setB = {1, 2, 3, 10, 11, 12}

# update() : Update the set by adding elements from another set.
setA.update(setB)
print(setA)

# intersection_update() : Update the set by keeping only the elements found in both
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setA.intersection_update(setB)
print(setA)

# difference_update() : Update the set by removing elements found in another set.
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setA.difference_update(setB)
print(setA)

# symmetric_difference_update() : Update the set by only keeping the elements found in either set, but not in both
setA = {1, 2, 3, 4, 5, 6, 7, 8, 9}
setA.symmetric_difference_update(setB)
print(setA)

# Note: all update methods also work with other iterables as argument, e.g lists, tuples
# setA.update([1, 2, 3, 4, 5, 6])

## Copying

In [43]:
set_org = {1, 2, 3, 4, 5}
set_copy = set_org

set_copy.update([3, 4, 5, 6, 7])    # now modifying the copy also affects the original
print(set_copy)
print(set_org)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [44]:
# use copy() 

set_org = {1, 2, 3, 4, 5}
set_copy = set_org.copy()     # copy does not affect the original

# now modifying the 
set_copy.update([3, 4, 5, 6, 7])
print(set_copy)
print(set_org)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5}

## Subset, Superset, and Disjoint

In [47]:
setA = {1, 2, 3, 4, 5, 6}
setB = {1, 2, 3}

# issubset(setX): Returns True if setX contains the set
print(setA.issubset(setB))
print(setB.issubset(setA)) # True

False
True

In [48]:
setA = {1, 2, 3}
setB = {1, 2, 3}

# issubset(setX): Returns True if setX contains the set
print(setA.issubset(setB))
print(setB.issubset(setA)) # True

True
True

In [49]:
# issuperset(setX): Returns True if the set contains setX

print(setA.issuperset(setB)) # True
print(setB.issuperset(setA))

True
True

In [50]:
# isdisjoint(setX) : Return True if both sets have a null intersection, i.e. no same elements

setC = {7, 8, 9}
print(setA.isdisjoint(setB))
print(setA.isdisjoint(setC))

False
True

## Frozenset

In [ ]:
a = frozenset([0, 1, 2, 3, 4])    # not allowed to change

# The following is not allowed:
# a.add(5)
# a.remove(1)
# a.discard(1)
# a.clear()

# Also no update methods are allowed:
# a.update([1,2,3])

# Other set operations work
odds = frozenset({1, 3, 5, 7, 9})
evens = frozenset({0, 2, 4, 6, 8})
print(odds.union(evens))
print(odds.intersection(evens))
print(odds.difference(evens))

In [53]:
a = frozenset([0, 1, 2, 3, 4])    # not allowed to change

a.add(5)    # not allowed
a.remove(1)    # not allowed
a.discard(1)    # not allowed
a.clear()    # not allowed
a.update([1,2,3])    # not allowed

AttributeError: 'frozenset' object has no attribute 'add'

In [54]:
# Other set operations work

odds = frozenset({1, 3, 5, 7, 9})
evens = frozenset({0, 2, 4, 6, 8})

print(odds.union(evens))
print(odds.intersection(evens))
print(odds.difference(evens))

frozenset({0, 1, 2, 3, 4, 5, 6, 7, 8, 9})
frozenset()
frozenset({1, 3, 5, 7, 9})