In [1]:
mytuple = ("Max",28, "Boston") # use parenthesis for tuple
print(mytuple)

('Max', 28, 'Boston')

In [6]:
mytuple = "Max",28, "Boston" # without using parenthesis
print(mytuple)
print(type(mytuple))

('Max', 28, 'Boston')
<class 'tuple'>

In [8]:
mytuple = ("Max")    # single element is always considered string in tuple
print(mytuple)
print(type(mytuple))

Max
<class 'str'>

In [10]:
mytuple = ("Max",)    # single element ending with comma considered tuple
print(mytuple)
print(type(mytuple))

('Max',)
<class 'tuple'>

## Creating a Tuple using Tuple function

In [12]:
mytuple = tuple(["Max",28, "Boston"])    # single element ending with comma considered tuple
print(mytuple)
print(type(mytuple))

('Max', 28, 'Boston')
<class 'tuple'>

## Accessing tuple

In [14]:
mytuple = tuple(["Max",28, "Boston"])
item = mytuple[2]    # copy the element from second position
print(item)

Boston

In [15]:
mytuple = tuple(["Max",28, "Boston"])
item = mytuple[-1]    # copy the element from last position
print(item)

Boston

In [17]:
# for loop

mytuple = tuple(["Max",28, "Boston"])

for i in mytuple:
    print(i)

Max
28
Boston

In [18]:
# if statement

mytuple = tuple(["Max",28, "Boston"])

if "Max" in mytuple:
    print("Yes")
else:
    print("No")

Yes

## Deleting a tuple

In [2]:
mytuple = tuple(["Max",28, "Boston"])
del mytuple
print(mytuple)

NameError: name 'mytuple' is not defined

## Modifying content in tuple (Immutable)

In [16]:
mytuple[0] = "Harry"
print(mytuple)

TypeError: 'tuple' object does not support item assignment

## Useful methods

In [20]:
my_tuple = ('a','p','p','l','e',)

In [21]:
# len() : get the number of elements in a tuple
print(len(my_tuple))    #

5

In [22]:
# count(x)

print(my_tuple.count('p'))    # Return the number of items that is equal to argument in count function

2

In [29]:
print(my_tuple.count('u'))    # argument'u' is not a element in tuple

0

In [28]:
# index(x)

my_tuple = ('a','p','p','l','e',)
print(my_tuple.index('p'))    # Return index of **first item** that is equal to argument in count function

1

In [30]:
my_tuple = ('a','p','p','l','e',)
print(my_tuple.index('j'))    # argument'j' is not a element in tuple

ValueError: tuple.index(x): x not in tuple

In [26]:
# repetition
my_tuple = ('a', 'b') * 5
print(my_tuple)

('a', 'b', 'a', 'b', 'a', 'b', 'a', 'b', 'a', 'b')

In [24]:
# concatenation
my_tuple = (1,2,3) + (4,5,6)
print(my_tuple)

(1, 2, 3, 4, 5, 6)

In [25]:
# convert list to a tuple and vice versa

my_list = ['a', 'b', 'c', 'd']    # defined a list
list_to_tuple = tuple(my_list)    # converting list to tuple using tuple function
print(list_to_tuple)

tuple_to_list = list(list_to_tuple)    # converting tuple to list using list fucntion
print(tuple_to_list)

('a', 'b', 'c', 'd')
['a', 'b', 'c', 'd']

In [31]:
# convert string to tuple

string_to_tuple = tuple('Hello')
print(string_to_tuple)

('H', 'e', 'l', 'l', 'o')

## Slicing

In [3]:
# a[start:stop:step], default step is 1
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
b = a[1:3]    # last index is not included
print(b)

(2, 3)

In [4]:
b = a[2:]    # until the end
print(b)

(3, 4, 5, 6, 7, 8, 9, 10)

In [ ]:
b = a[:3]    # from beginning
print(b)

In [5]:
b = a[::2]    # start to end with every second item
print(b)

(1, 3, 5, 7, 9)

In [6]:
b = a[::-1]    # reverse tuple
print(b)

(10, 9, 8, 7, 6, 5, 4, 3, 2, 1)

## Unpacking tuple

In [7]:
# number of variables have to match number of tuple elements

tuple_1 = ("Max", 28, "New York")
name, age, city = tuple_1
print(name)
print(age)
print(city)

Max
28
New York

In [8]:
# tip: unpack multiple elements to a list with *

my_tuple = (0, 1, 2, 3, 4, 5)
item_first, *items_between, item_last = my_tuple
print(item_first)    # prints first item
print(items_between)    # prints items b/w first and last
print(item_last)    # prints last item

0
[1, 2, 3, 4]
5

## Nested tuples

In [10]:
a = ((0, 1), ('age', 'height'))
print(a)
print(a[0])
print(a[1])

((0, 1), ('age', 'height'))
(0, 1)
('age', 'height')

## Compare tuple and list

In [19]:
# compare the size

import sys
my_list = [0, 1, 2, "hello", True]    # list
my_tuple = (0, 1, 2, "hello", True)   # tuple
print(sys.getsizeof(my_list), "bytes")    # get bytes of list
print(sys.getsizeof(my_tuple), "bytes")    # get bytes of tuple

96 bytes
80 bytes

In [15]:
# compare the execution time of a list vs. tuple creation statement

import timeit
print(timeit.timeit(stmt="[0, 1, 2, 3, 4, 5]", number=1000000))   # calculating time for creation list 1000000 times
print(timeit.timeit(stmt="(0, 1, 2, 3, 4, 5)", number=1000000))    # calculating time for creation tuples 1000000 times

0.06830369995441288
0.01277579995803535